<footer>
  <span class="todo-count"
    ><strong>{{ itemsLeftList().length }}</strong> items left</span
  >
  <ul class="filters">
    <li *ngFor="let filter of filterList">
      <a
        (click)="changeFilter(filter)"
        *ngIf="filter !== currentFilter()"
        mat-button
        class="selected"
        [routerLink]="'.'"
        [fragment]="filter"
      >
        {{ filter | titlecase }}
      </a>
      <a
        *ngIf="filter === currentFilter()"
        mat-button
        class="selected"
        [routerLink]="'.'"
        [fragment]="filter"
        routerLinkActive="active-filter"
      >
        {{ filter | titlecase }}
      </a>
    </li>
  </ul>
  <button (click)="cleanCompletedTodos()" mat-flat-button class="clear-completed">
    Clear completed
  </button>
</footer>
