:host{
  --elevated-card-color: rgb(241, 241, 241);
  --elevation-card: 0px 2px 3px -1px rgba(0, 0, 0, .2), 0px 1px 2px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
  padding: 1rem;
  
  font-size: 0.8rem;

}

@media (width > 30rem) {
  footer{
    padding: 0.3rem 0.5rem;
    min-height: 2.6rem;
  }
  
}

.todo-count{
  font-weight: 400;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;

  padding: 0;
  margin: 0.2rem 0;
  
}

li{
  list-style: none;
  
}

button, a{
  font-size: 0.8rem;
  font-weight: 400;

}

.active-filter{
  border-color: var(--elevated-card-color);
  box-shadow: var(--elevation-card);
}