<li [ngClass]="{ completed: todo.completed, editing: editing }">
  <div class="view">
    <mat-checkbox [formControl]="completed"> </mat-checkbox>

    <label (dblclick)="editTodo()" for="add">
      {{ todo.text }}
    </label>
    <button (click)="deleteTodo()" mat-icon-button class="destroy">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <input
    [cdkTrapFocusAutoCapture]="editing"
    [cdkTrapFocus]="editing"
    [formControl]="inputTodo"
    [value]="todo.text"
    (blur)="stopEdit()"
    (keyup.enter)="stopEdit()"
    appSelect
    class="edit"
    type="text"
  />
</li>
